<h1>Create New Customer</h1>
<p>Find me in app/views/customers/new.html.erb</p>
<%= form_for @customer do |f| %>
    <%= f.label "Name" %><br>
    <%= f.text_field :name %><br>
    <%= f.submit %>
<% end %>